:root {
    --grid-width: 10;
}

body {
    background: #666;
    font-family: Arial, sans-serif;
    color: whitesmoke;
    font-size: 1.75rem;
    text-align: center;
    line-height: 1.3;
}



#grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-width), 40px);
    justify-content: center;
    margin: 2rem auto;
    gap: 5px;
}

.cell {
    background: #999;
    aspect-ratio: 1;
    border-radius: 2px;
    cursor: pointer;
    display: grid;
    place-content: center;
    color: #99F;
    font-weight: 700;
}

.cell.boom {
    background: crimson;
    color: white;
}

.cell.visited {
    background: cadetblue;
    color: black;
}

.cell.flag::before {
    content: "?";
    color: black;
}

.cell.boom.flag::before {
    content: "";
}

.cell.visited.flag::before {
    content: "";
}